*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --red: hsl(0, 94%, 66%);
  --blue: hsl(231, 69%, 60%);
  --grey: hsl(0, 0%, 97%);
  --blue-950: hsl(229, 31%, 21%);
  --background-menu: hsla(229, 31%, 21%, 0.97);
  --white: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 64%);
  --btn-color: hsl(0, 0%, 90%);
  --font-size: 1.125em;
  --weight400: 400;
  --weight500: 500;
  --font-family: "Rubik", sans-serif;
}

/* BASE */
html,
body {
  overflow-y: visible !important;
  height: auto !important;
  min-height: 100vh;
} /* FOR THE STICKY TO WORK */

.body {
  background-color: var(--grey);
  font-family: var(--font-family);
  width: 100%;
  height: 100vh;
}

/* LAYOUT */

/* header starts */

.header {
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: var(--grey);
  width: 100%;
  transition: transform 0.3s ease-out;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 2rem; /* EXPECTING TO CHANGE */
}

.header__logo {
  z-index: 10;
}

.header__logo circle {
  fill: var(--blue);
}

.bookmark,
.mobile__open path {
  fill: var(--blue-950);
}

.innerCircle {
  fill: var(--white);
}

.nav__mobile {
  background: transparent;
  border: none;
  z-index: 10;
}

.header__nav {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-menu);
  transform: translateY(-100%);
  transition: transform 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: min(32%, 8rem) 2rem;
  text-align: center;
}

.nav__item a {
  text-decoration: none;
  display: block;
  font-weight: 300;
}

.nav__item {
  border-block-start: 0.7px solid hsla(0, 0%, 97%, 0.3);
  padding-block: 1.5rem;
}

.nav__btn {
  background-color: transparent;
  width: 100%;
  font-weight: var(--weight500);
  padding-block: 0.5rem;
  border: 2px solid var(--grey);
  border-radius: 5px;
}

.nav__btn:hover {
  border-color: var(--red);
}

.nav__item a,
.nav__btn {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--grey);
  font-size: min(7vw, 1.5rem);
}

.nav__item a:hover,
.nav__btn:hover {
  color: var(--red);
}

.mobile__social {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  fill: var(--white);
  position: absolute;
  bottom: min(6%, 4rem);
  left: 50%;
  transform: translateX(-50%);
}

.fb:hover,
.x:hover {
  fill: var(--red);
}

.mobile__social a {
  text-decoration: none;
}
/* header ends */

/* main starts */
.main {
  margin-block-start: 1.5rem;
  padding-inline: 2rem;
  overflow-x: hidden;
}

.main__intro {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 3rem;
}

.main__txt {
  text-align: center;
}

.title {
  font-size: min(8vw, 2rem);
  font-weight: var(--weight500);
  color: var(--blue-950);
  margin-bottom: 1.5rem;
}

.p__gray {
  color: var(--text-color);
  font-size: min(5vw, 0.97rem);
  font-weight: var(--weight400);
  margin-bottom: 1.5rem;
  text-align: center;
}

.btn__container {
  display: flex;
  justify-content: space-between;
}

.main__btn,
.main__btnF {
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.8rem 0.9rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: var(--weight500);
  letter-spacing: 1px;
  box-shadow: 0px 3px 2px hsla(0, 0%, 0%, 0.123);
  border: 2px solid transparent;
}

.main__btn {
  background-color: var(--blue);
  color: var(--white);
}

.main__btnF {
  background-color: var(--btn-color);
  color: var(--blue-950);
}

.main__btn:hover,
.main__btnF:hover,
.main__btn:active,
.main__btnF:active {
  background-color: var(--grey);
}

.main__btn:hover,
.main__btn:active {
  color: var(--blue);
  border: 2px solid var(--blue);
}

.main__btnF:hover,
.main__btnF:active {
  color: var(--blue-950);
  border: 2px solid var(--blue-950);
}

.main__img img {
  display: block;
  width: 95%;
  height: 100%;
  margin-inline: auto;
}

/* ellipse */

.main__img {
  position: relative;
  width: 100vw;
}

.main__img::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 80%;
  height: 80%;
  border-radius: 50% 0 0 50%;
  background-color: var(--blue);
}

/* ellipse */

.section__features {
  display: flex;
  flex-direction: column;
  margin-block: 5rem;
}

.h2,
.h4 {
  color: var(--blue-950);
  font-size: min(7vw, 2rem) !important;
  font-weight: var(--weight500);
  text-align: center;
  margin-block-end: 1.2rem !important;
}

.features__intro {
  margin-block-end: 1.5rem;
}

.section__options {
  display: flex;
  flex-direction: column;
}

.off {
  margin: 0;
  font-size: min(6vw, 1rem);
  color: var(--text-color);
  font-weight: var(--weight500);
  text-align: center;
  width: 100%;
  border-block-start: 2px solid var(--btn-color);
  padding-block: 1.2rem;
  cursor: pointer;
}

.on {
  margin: 0;
  font-size: min(6vw, 1rem);
  font-weight: var(--weight500);
  text-align: center;
  width: 100%;
  border-block-start: 2px solid var(--btn-color);
  padding-block: 1.2rem;
  cursor: pointer;
  /* basic */
  color: var(--blue-950);
  position: relative;
  box-sizing: border-box;
}

@keyframes redLine {
  0% {
    transform: scaleX(0) translateX(-50%);
  }
  100% {
    transform: scaleX(1) translateX(-50%);
  }
}

.on::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 45%;
  height: 3px;
  background-color: var(--red);
  transform-origin: left;
  opacity: 0;
}

.animate-in::after {
  opacity: 1;
  animation: redLine 0.7s ease-in-out forwards;
}

.section__tab:last-of-type {
  border-block-end: 2px solid var(--btn-color);
}

.section__txt .main__btn {
  display: none;
}

.section__txt {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 3rem;
}

.section__pic img {
  display: block;
  width: 85%;
  height: 45vh;
  margin-inline: auto;
  object-fit: contain;
}

.section__pic {
  position: relative;
  width: 100vw;
  height: 45vh;
}

.section__pic::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 80%;
  height: 75%;
  border-radius: 0 50% 50% 0;
  background-color: var(--blue);
}

/* MODULE */

/* STATE */

.inactive {
  display: none;
}

.open {
  transform: translateY(0);
}

.no__scroll {
  touch-action: none;
}

.hidden {
  transform: translateY(-100%);
}
