*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --red: hsl(0, 94%, 66%);
  --blue: hsl(231, 69%, 60%);
  --grey: hsl(0, 0%, 97%);
  --blue-950: hsl(229, 31%, 21%);
  --background-menu: hsla(229, 31%, 21%, 0.97);
  --white: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 64%);
  --font-size: 1.125em;
  --weight400: 400;
  --weight500: 500;
  --font-family: "Rubik", sans-serif;
}

/* BASE */

.body {
  background-color: var(--grey);
  font-family: var(--font-family);
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

/* LAYOUT */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 2rem; /* EXPECTING TO CHANGE */
}

.header__logo {
  z-index: 10;
}

.header__logo circle {
  fill: var(--blue);
}

.bookmark,
.mobile__open path {
  fill: var(--blue-950);
}

.innerCircle {
  fill: var(--white);
}

.nav__mobile {
  background: transparent;
  border: none;
  z-index: 10;
}

.header__nav {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-menu);
  transform: translateY(-100%);
  transition: transform 0.1s ease-in-out;
}

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: min(32%, 8rem) 2rem;
  text-align: center;
}

.nav__item a {
  text-decoration: none;
  color: var(--grey);
  display: block;
  transition: 0.3s;
  font-weight: 300;
  font-size: min(7vw, 1.5rem);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav__item {
  border-block-start: 0.7px solid hsla(0, 0%, 97%, 0.3);
  padding-block: 1.5rem;
}

/* MODULE */

/* STATE */

.inactive {
  display: none;
}

.open {
  transform: translateY(0);
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
