*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --red: hsl(0, 94%, 66%);
  --blue: hsl(231, 69%, 60%);
  --grey: hsl(0, 0%, 97%);
  --blue-950: hsl(229, 31%, 21%);
  --text-color: hsl(0, 0%, 64%);
  --font-size: 1.125em;
  --weight400: 400;
  --weight500: 500;
  --font-family: "Rubik", sans-serif;
}

/* BASE */

.body {
  background-color: var(--grey);
  font-family: var(--font-family);
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.header__logo circle {
  fill: var(--blue);
}

.header__nav {
  position: fixed;
  height: min(24%, 15rem);
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--blue-950);
  transform: translateY(-100%);
  transition: transform 0.1s ease-in-out;
}

.open {
  transform: translateY(0);
}

.nav__list {
  list-style: none;
  display: flex;
  gap: min(2vw, 0.7rem);
  padding: 2.2rem 1rem;
  justify-content: flex-end;
}

.nav__item a {
  text-decoration: none;
  color: var(--text-color);
  display: block;
  transition: 0.3s;
  font-weight: var(--Weight700);
  font-size: min(4vw, 1.5rem);
  text-transform: uppercase;
}

/* desktop */
@media (min-width: 70em) {
  .nav__mobile,
  .mobile__social {
    display: none;
  }

  .header__nav {
    display: block;
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    transform: translateY(0%);
    background-color: transparent;
  }

  .nav__list {
    padding: 0;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }

  .nav__item a {
    padding: 0;
    text-decoration: none;
    color: var(--primary-color);
    position: relative;
    font-family: var(--Font);
    font-weight: var(--Weight500);
    font-size: var(--FontSize);
  }

  .nav__btn {
    background-color: var(--red);
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    color: var(--grey);
    border: none;
    box-shadow: 0px 2px 1px 0px #6463634a;
    text-transform: uppercase;
  }
}
