*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --red: hsl(0, 94%, 66%);
  --blue: hsl(231, 69%, 60%);
  --grey: hsl(0, 0%, 97%);
  --blue-950: hsl(229, 31%, 21%);
  --background-menu: hsla(229, 31%, 21%, 0.97);
  --white: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 64%);
  --font-size: 1.125em;
  --weight400: 400;
  --weight500: 500;
  --font-family: "Rubik", sans-serif;
}

/* BASE */
html,
body {
  overflow-y: visible !important;
  height: auto !important;
  min-height: 100vh;
} /* FOR THE STICKY TO WORK */

.body {
  background-color: var(--grey);
  font-family: var(--font-family);
  width: 100%;
  height: 100vh;
}

/* LAYOUT */

/* header starts */

.header {
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: var(--grey);
  width: 100%;
  transition: transform 0.3s ease-out;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 2rem; /* EXPECTING TO CHANGE */
}

.header__logo {
  z-index: 10;
}

.header__logo circle {
  fill: var(--blue);
}

.bookmark,
.mobile__open path {
  fill: var(--blue-950);
}

.innerCircle {
  fill: var(--white);
}

.nav__mobile {
  background: transparent;
  border: none;
  z-index: 10;
}

.header__nav {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-menu);
  transform: translateY(-100%);
  transition: transform 0.1s ease-in-out;
}

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: min(32%, 8rem) 2rem;
  text-align: center;
}

.nav__item a {
  text-decoration: none;
  display: block;
  font-weight: 300;
}

.nav__item {
  border-block-start: 0.7px solid hsla(0, 0%, 97%, 0.3);
  padding-block: 1.5rem;
}

.nav__btn {
  background-color: transparent;
  width: 100%;
  font-weight: var(--weight500);
  padding-block: 0.5rem;
  border: 2px solid var(--grey);
  border-radius: 5px;
}

.nav__btn:hover {
  border-color: var(--red);
}

.nav__item a,
.nav__btn {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--grey);
  font-size: min(7vw, 1.5rem);
}

.nav__item a:hover,
.nav__btn:hover {
  color: var(--red);
}

.mobile__social {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  fill: var(--white);
  position: absolute;
  bottom: min(6%, 4rem);
  left: 50%;
  transform: translateX(-50%);
}

.fb:hover,
.x:hover {
  fill: var(--red);
}

.mobile__social a {
  text-decoration: none;
}
/* header ends */

.main {
  padding-inline: 2rem;
}

/* MODULE */

/* STATE */

.inactive {
  display: none;
}

.open {
  transform: translateY(0);
}

.no-scroll {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.hidden {
  transform: translateY(-100%);
}
