*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --red: hsl(0, 94%, 66%);
  --blue: hsl(231, 69%, 60%);
  --grey: hsl(0, 0%, 97%);
  --blue-950: hsl(229, 31%, 21%);
  --background-menu: hsla(229, 31%, 21%, 0.97);
  --white: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 64%);
  --btn-color: hsl(0, 0%, 90%);
  --font-size: 1.125em;
  --weight400: 400;
  --weight500: 500;
  --font-family: "Rubik", sans-serif;
}

/* BASE */
html,
body {
  overflow-y: visible !important;
  height: auto !important;
  min-height: 100vh;
} /* FOR THE STICKY TO WORK */

.body {
  background-color: var(--grey);
  font-family: var(--font-family);
  width: 100%;
  height: 100vh;
}

/* LAYOUT */

/* header starts */

.header {
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: var(--grey);
  width: 100%;
  transition: transform 0.3s ease-out;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 2rem; /* EXPECTING TO CHANGE */
}

.header__logo {
  z-index: 10;
}

.header__logo circle {
  fill: var(--blue);
}

.bookmark,
.mobile__open path {
  fill: var(--blue-950);
}

.innerCircle {
  fill: var(--white);
}

.nav__mobile {
  background: transparent;
  border: none;
  z-index: 10;
}

.header__nav {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-menu);
  transform: translateY(-100%);
  transition: transform 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: min(32%, 8rem) 2rem;
  text-align: center;
}

.nav__item a {
  text-decoration: none;
  display: block;
  font-weight: 300;
}

.nav__item {
  border-block-start: 0.7px solid hsla(0, 0%, 97%, 0.3);
  padding-block: 1.5rem;
}

.nav__btn {
  background-color: transparent;
  width: 100%;
  font-weight: var(--weight500);
  padding-block: 0.5rem;
  border: 2px solid var(--grey);
  border-radius: 5px;
}

.nav__btn:hover {
  border-color: var(--red);
}

.nav__item a,
.nav__btn {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--grey);
  font-size: min(7vw, 1.5rem);
}

.nav__item a:hover,
.nav__btn:hover {
  color: var(--red);
}

.mobile__social {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  fill: var(--white);
  position: absolute;
  bottom: min(6%, 4rem);
  left: 50%;
  transform: translateX(-50%);
}

.fb:hover,
.x:hover {
  fill: var(--red);
}

.mobile__social a {
  text-decoration: none;
}
/* header ends */

/* main starts */
.main {
  margin-block-start: 1.5rem;
  padding-inline: 2rem;
  overflow-x: hidden;
}

.main__intro {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 3rem;
}

.main__txt {
  text-align: center;
}

.title {
  font-size: min(8vw, 2rem);
  font-weight: var(--weight500);
  color: var(--blue-950);
  margin-bottom: 1.5rem;
}

.p__gray {
  color: var(--text-color);
  font-size: min(5vw, 0.97rem);
  font-weight: var(--weight400);
  margin-block-end: 1.5rem;
  text-align: center;
}

.btn__container {
  display: flex;
  justify-content: space-between;
}

.main__btn,
.main__btnF {
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.8rem 0.9rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: var(--weight500);
  letter-spacing: 1px;
  box-shadow: 0px 3px 2px hsla(0, 0%, 0%, 0.123);
  border: 2px solid transparent;
}

.main__btn {
  background-color: var(--blue);
  color: var(--white);
}

.main__btnF {
  background-color: var(--btn-color);
  color: var(--blue-950);
}

.main__btn:hover,
.main__btnF:hover,
.main__btn:active,
.main__btnF:active {
  background-color: var(--grey);
}

.main__btn:hover,
.main__btn:active {
  color: var(--blue);
  border: 2px solid var(--blue);
}

.main__btnF:hover,
.main__btnF:active {
  color: var(--blue-950);
  border: 2px solid var(--blue-950);
}

.main__img img {
  display: block;
  width: 95%;
  height: 100%;
  margin-inline: auto;
}

/* ellipse */

.main__img {
  position: relative;
  width: 100vw;
}

.main__img::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 80%;
  height: 80%;
  border-radius: 50% 0 0 50%;
  background-color: var(--blue);
}

/* ellipse */

.section__features {
  display: flex;
  flex-direction: column;
  margin-block-start: 5rem;
}

.h2,
.h4 {
  color: var(--blue-950);
  font-size: min(7vw, 2rem) !important;
  font-weight: var(--weight500);
  text-align: center;
  margin-block-end: 1.2rem !important;
}

.features__intro {
  margin-block-end: 1.5rem;
}

.section__options {
  display: flex;
  flex-direction: column;
}

.off {
  margin: 0 !important;
  font-size: min(6vw, 1rem);
  color: var(--text-color);
  font-weight: var(--weight500);
  text-align: center;
  width: 100%;
  border-block-start: 1px solid var(--btn-color);
  padding-block: 1.2rem;
  cursor: pointer;
}

.on {
  margin: 0 !important;
  font-size: min(6vw, 1rem);
  font-weight: var(--weight500);
  text-align: center;
  width: 100%;
  border-block-start: 1px solid var(--btn-color);
  padding-block: 1.2rem;
  cursor: pointer;
  /* basic */
  color: var(--blue-950);
  position: relative;
  box-sizing: border-box;
}

@keyframes redLine {
  0% {
    transform: scaleX(0) translateX(-50%);
  }
  100% {
    transform: scaleX(1) translateX(-50%);
  }
}

.on::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 45%;
  height: 3px;
  background-color: var(--red);
  transform-origin: left;
  opacity: 0;
}

.animate-in::after {
  opacity: 1;
  animation: redLine 0.7s ease-in-out forwards;
}

.section__tab:last-of-type {
  border-block-end: 1px solid var(--btn-color);
}

.section__tab:hover {
  color: var(--blue-950);
  transition: color 0.3s ease-in-out;
}

/* section's options txts */

.section__txt .main__btn {
  display: none;
}

.section__txt {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-block-start: 4rem;
  gap: 3rem;
}

.section__pic img {
  display: block;
  width: 80%;
  height: 85%;
  margin-inline: auto;
  object-fit: contain;
}

.section__pic {
  position: relative;
  width: 100vw;
  height: min(35vh, 295px);
}

.section__pic::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 80%;
  height: 80%;
  border-radius: 0 50% 50% 0;
  background-color: var(--blue);
}

.section__download {
  margin-block-start: 0rem !important;
}

.section__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-end: min(6rem, 8.5rem);
}

.card__1,
.card__2,
.card__3 {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 3rem 2rem;
  border-radius: 10px;
  box-shadow: 0 13px 16px 0px rgba(0, 0, 0, 0.05);
  border: transparent;
}

.card__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.h5 {
  color: var(--blue-950);
  font-size: min(5vw, 1rem);
  font-weight: var(--weight500);
  margin-block-start: 2rem !important;
}

.card__p {
  color: var(--text-color);
  font-size: min(4vw, 0.9rem);
  font-weight: var(--weight400);
  margin-block-end: 2rem !important;
}

.section__card .main__btn {
  margin-block-start: 1rem;
  padding-inline: 2rem;
}

/* section ends */

.faqs {
  margin-block-start: 3rem;
}

.faqs__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 3rem 6rem;
}

/* bootstrap */

.faqs .accordion-button {
  background-color: var(--grey);
  font-size: min(4vw, 0.97rem);
  padding: 1.5rem 0 1rem 0;
}

.faqs .accordion-button:not(.collapsed) {
  color: var(--blue-950);
  background-color: var(--grey);
  box-shadow: none;
}

.faqs .accordion-button:focus {
  z-index: 3;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}

.faqs .accordion-flush .accordion-collapse {
  color: var(--text-color);
  background-color: var(--grey);
  font-size: min(4vw, 0.97rem);
}

.faqs .accordion-body {
  padding: 1rem 0 2rem 0;
}

.faqs .accordion-button:not(.collapsed)::after {
  background-image: url("images/icon-arrow-after.svg");
}

.faqs .accordion-button::after {
  background-image: url("images/icon-arrow.svg");
}

.faqs .accordion-flush .accordion-item:last-child {
  border-bottom: 1px solid var(--btn-color);
}

/* bootstrap */

.subscription__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--blue);
  padding: 3rem 2rem;
}

.subscription__p {
  color: var(--white);
  font-size: min(4vw, 0.8rem);
  font-weight: var(--weight400);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.h6 {
  color: var(--white);
  font-size: min(8vw, 1.5rem) !important;
  font-weight: var(--weight500);
  text-align: center;
}

.mail__input {
  width: 100%;
  margin-block-start: 1.5rem;
}

.sub__input {
  display: flex;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: min(4vw, 1rem);
  font-weight: var(--weight400);
  color: var(--blue-950);
  background-color: var(--grey);
}

.sub__input::placeholder {
  color: var(--text-color);
}

.subscription__container .main__btn {
  margin-block-start: 1rem;
  padding-inline: 2rem;
  width: 100%;
  background-color: var(--red);
  box-shadow: 0px 3px 2px hsla(0, 0%, 0%, 0.05);
}

.subscription__container .main__btn:hover,
.subscription__container .main__btn:active {
  background-color: var(--white);
  color: var(--red);
  border: 2px solid var(--red);
}

.form {
  width: 100%;
}

.footer {
  padding-block-start: 3rem;
  background-color: var(--blue-950);
}

.footer a {
  text-decoration: none;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}

.footer__p {
  color: var(--grey);
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--grey);
  font-size: min(5vw, 0.9rem);
  font-weight: var(--weight400);
}

.footer__p:hover {
  color: var(--red);
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.footer__social {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  fill: var(--grey);
}

.attribution {
  margin-block: 0 !important;
  padding-block: 2rem 0.5rem;
  color: var(--grey);
}

.attribution a {
  color: var(--red) !important;
}

.attribution a:hover {
  color: var(--white) !important;
}

.txt__Lfooter {
  fill: var(--grey);
}

/* STATE */

.inactive {
  display: none;
}

.open {
  transform: translateY(0);
}

.no__scroll {
  touch-action: none;
}

.hidden {
  transform: translateY(-100%);
}

/* ERROR */

.error__state {
  border: 2.5px solid var(--red);
  border-radius: 6px;
  position: relative;
  background-color: var(--red);
}

.icon__error {
  content: "";
  position: absolute;
  top: 27%;
  transform: translateY(-25%);
  right: 15px;
}

.error__div {
  width: 100%;
  padding: 0.4rem;
  color: var(--white);
  font-size: min(3vw, 0.7rem);
  font-weight: var(--weight500);
  font-style: italic;
}

.error__div p {
  margin-bottom: 0 !important;
}

/* MEDIA QUERIES */

@media (min-width: 37.5em) {
  /* .section__pic {
    height: /* min(35vh, 500px); min(100%, 550px);
  } */

  .p__gray:not(.section__card .p__gray) {
    margin-block-end: 2rem;
    width: 75%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .section__card .p__gray {
    width: 75%;
  }

  .btn__container {
    justify-content: space-around;
  }

  .section__pic {
    height: min(90vh, 400px);
  }

  .section__pic::after {
    width: 70%;
    height: 80%;
  }

  .section__download .section__card {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    gap: 2rem;
    margin-block-start: 2rem;
  }

  .card__1 {
    grid-area: 1 / 1 / span 2 / span 2;
  }

  .card__2 {
    grid-area: 1 / 3 / span 2 / span 2;
  }

  .card__3 {
    grid-area: 3 / 2 / span 2 / span 2;
  }

  .faqs {
    width: 75%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .mail__input,
  .subscription__container .main__btn {
    width: 75%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 2rem;
    gap: 0;
  }

  .footer__list {
    flex-direction: row;
    margin-inline-end: min(1vw, 3.5rem);
    align-self: flex-end;
  }
}

@media (min-width: 60em) {
}
